{% extends "core/base.html" %}
{% load crispy_forms_tags %}


{% block title %}Questions list {% endblock %}

{% block content %}
    <a href="{% url "categories:category_list" %}">List of categories </a> <br>
    <form action="" method="get">
        {{ form|crispy }}
        <button class="btn-primary"> Go</button>
    </form>
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Author</th>
            <th scope="col">Created</th>
        </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr class="active">
                <th scope="row">
                    <a id="{{ question.id }}"
                       href="{% url "questions:questions_detail" pk=question.id %}">{{ question.name |default:"question without title" }}</a>
                </th>
                <td>{{ question.author }}</td>
                <td>{{ question.created }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}