<!DOCTYPE html>
{% extends "core/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "questions/question_detail.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "questions/question_comments.css" %}"/>
{% endblock %}

{% block title %} {{ question.name }} {% endblock %}

{% block content %}
    <div class="row">
        <div class="question-text col-12 col-md-10">
            {{ question.text }}<br>
        </div>
        <div class="col-12 col-md-2">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Interaction
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <a class="comment CNewLink dropdown-item"
                       href="{% url 'comments:new_comment' q_id=question.id com_id=0 %}">Comment</a>
                    {% if question.author == user or user.is_staff %}
                        <div class="dropdown-divider"></div>
                        <form href="{% url 'questions:delete_question' pk=question.id %}" method="post">
                            {% csrf_token %}
                            <input class="btn btn-link dropdown-item" type="submit"
                                   value="delete">
                        </form>
                        <a class="QEditLink dropdown-item" href="{% url "questions:question_change" pk=question.id %}">
                            edit</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    {#    <form action="{% url 'comments:new_comment' %}" method="get">#}
    {#        <input type="submit" value="Comment">#}
    {#        <input type="hidden" name="question_id" value={{ question.id }}>#}
    {#        <input type="hidden" name="prev_comment_id" value={{ None }}>#}
    {#    </form>#}
    Comments:
    <a id="QCommentsRefresh" class="QCommentsRefresh float-right"
       href="{% url "questions:question_comments" question.pk %}">Refresh</a>
    <div id="qComments">
        {% include "questions/question_comments.html" %}
    </div>
    <br>
    author: {{ question.author }}<br>
    created: {{ question.created|date:"d-m-Y" }}<br>
    <div class="question-like">
        {% if question.liked == 1 %}
            <span id="question_{{ question.id }}_likes"
                  class="liked float-left">{{ question.likes_qs.count }}</span>
        {% else %}
            <span id="question_{{ question.id }}_likes" class="float-left">{{ question.likes_qs.count }}</span>
        {% endif %}

        <form data-success-id="question_{{ question.id }}_likes" action="{% url 'like:question' pk=question.id %}"
              method="post">
            {% csrf_token %}
            <input class="like float-left" type="submit" value="like">
        </form>
        <br> <br>
        This question in categories:
        {% for category in question.categories.all %}
            <a href="{% url 'categories:category_detail' pk=category.id %}">{{ category.name }} </a>
            {% if not forloop.last %} , {% endif %}
        {% endfor %}
{% endblock %}