{% extends "core/base.html" %}

{% block title %} {{ question.name}} {% endblock %}

{% block content %}
    {{ question.text }}<br>
    Comments:
    {% for comment in comments %}
        <pre>{{ comment.print_comment }}</pre>
    {% endfor %}
    <br>
    name: {{ question.name }}<br>
    author: {{  question.author }}<br>
    created: {{ question.created|date:"d-m-Y"}}<br>
    {{ question.likes.count }} Likes<br>
    This question in categories:
    {% for category in question.categories.all %}
        <a href="{% url "categories:category_detail" pk=category.id %}">{{ category.name }} </a>
        {% if not forloop.last %} , {% endif %}
    {% endfor %}
{% endblock %}