{% load static %}

<!DOCTYPE html>


<head>
    <link rel="icon" href="http://developer.alexanderklimov.ru/favicon.ico">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}">
    <!-- Custom styles for this template -->
    <link href="{% static "core/base.css" %}" rel="stylesheet">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script>window.jQuery || document.write('<script src="http://getbootstrap.com/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="{% static  "bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "core/base.js" %}" type="text/javascript"></script>

    {% block head %}
    {% endblock %}


</head>

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: orange">
        <a class="navbar-brand" href="{% url "core:index" %}">OSO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "core:lk" %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Top</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "categories:category_list" %}">Categories <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "questions:questions_list" %}">Questions <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            {% if request.user.is_authenticated %}
                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "core:logout" %}">Log out</a>
                    </li>
                </ul>
            {% else %}
                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "core:login" %}">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url "core:register" %}">Sing up</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </nav>
</header>

<main role="main" class="container">
    <!-- dialog window -->
    <div class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    something
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>  <!-- /.modal-dialog -->


    <header><h1>{% block title %}{% endblock %}</h1></header>

    {% block content %}{% endblock %}
</main>


<footer class="footer">
    <div class="container">
        <marquee><h3>In writing stage.</h3></marquee>
    </div>
</footer>