<!DOCTYPE html>

{% include "core/libraries_connection.html" %}
<head>
    <link rel="icon" href="http://developer.alexanderklimov.ru/favicon.ico">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">




    {% block head %}
    {% endblock %}


</head>

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: orange">
        <a class="navbar-brand" href="{% url "core:index" %}">OSO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "core:lk" %}">Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Top</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "categories:category_list" %}">Categories <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "questions:questions_list" %}">Questions <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="nav nav-pills nav-fill">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "core:settings" %}">Settings</a>
                    </li>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "core:logout" %}">Log out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "core:login" %}">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url "core:register" %}">Sing up</a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </nav>
</header>

<main role="main" class="container">
    <!-- dialog window -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div id="modalHeaderTitle">Overwrite Stackowerflow</div>
                    <button type="button" id="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body" id="dialogBody">
                    something have to be here
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>  <!-- /.modal-dialog -->


    <header><h1>{% block title %}{% endblock %}</h1></header>

    {% block content %}{% endblock %}
</main>


<footer class="footer">
    <div class="container">
        <marquee><h3>In writing stage.</h3></marquee>
    </div>
</footer>
