{% extends "core/base.html" %}
{% load static %}

{% block head %}
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static "core/lk.css" %}"/>
{% endblock %}

{% block content %}
    <article>
        <header class="center">Your questions:</header>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">

                    <div class="container">
                        <div class="row">
                            {% for question in questions %}
                                <div class="col-12 col-md-6">
                                    <a class="name" href="{% url "questions:questions_detail" pk=question.id %}">
                                        {{ question.name |default:"unnamed question" }}</a>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="question-buttons">
                                        <a data-toggle="modal" data-target="#myModal" class="QEditLink edit float-left"
                                           href="{% url "questions:question_change" pk=question.id %}">EDIT</a>
                                        <form action="{% url "questions:delete_question" pk=question.id %}"
                                              method="post">
                                            {% csrf_token %}
                                            <button class="delete float-left">DELETE</button>
                                        </form>
                                    </div>
                                </div>
                                <br>
                            {% endfor %}
                        </div>
                    </div>

                </div>
                <div class="col-12 col-md-6">
                    <header class="center"> You're login as {{ user.username }}</header>
                    {% if False %}
                    {% endif %}
                    {% if user.avatar != "" %}
                        <img src="{{ user.avatar.url }}" class="img-fluid" alt="Responsive image">
                    {% endif %}
                    <br><br>
                    <a id="QNewLink" href="{% url "questions:new_question" %}" data-toggle="modal" data-target="#myModal">Create question</a><br>
                    <a href="{% url "core:settings" %}">Settings</a>
                </div>
            </div>
        </div>


    </article>
{% endblock %}